


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="/css/output.css">
</head>
<body>
  <h1 class="text-4xl font-bold text-green-600 underline">
  Tailwind is now working ✅
</h1>
 <br>

  <h1 class="text-4xl font-bold text-yellow-500 underline">
    Hello world!
    <br>
    <%= name %>
    <br>
    <%= dost %>
  </h1>
</body>
</html>



