<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <!-- by default method get hota hai  usko linkhne ki koi jarurat nhi -->
  <form action="/check" method="get">

    <input type="text" placeholder="Usrename" name="Username">
    <input type="text" placeholder="Password" name="password">
    <input type="text" placeholder="email" name="email">
    <input type="Submit">
  </form>
</body>
</html>
